USE [escuelamusica]
GO
/****** Object:  StoredProcedure [dbo].[RegistraprofesoresEscuela]    Script Date: 30/06/2025 03:36:24 p. m. ******/
DROP PROCEDURE [dbo].[RegistraprofesoresEscuela]
GO
/****** Object:  StoredProcedure [dbo].[RegistraProfesor]    Script Date: 30/06/2025 03:36:24 p. m. ******/
DROP PROCEDURE [dbo].[RegistraProfesor]
GO
/****** Object:  StoredProcedure [dbo].[RegistraEscuela]    Script Date: 30/06/2025 03:36:24 p. m. ******/
DROP PROCEDURE [dbo].[RegistraEscuela]
GO
/****** Object:  StoredProcedure [dbo].[RegistraAlumnosprofesores]    Script Date: 30/06/2025 03:36:24 p. m. ******/
DROP PROCEDURE [dbo].[RegistraAlumnosprofesores]
GO
/****** Object:  StoredProcedure [dbo].[RegistraAlumnosEscuela]    Script Date: 30/06/2025 03:36:24 p. m. ******/
DROP PROCEDURE [dbo].[RegistraAlumnosEscuela]
GO
/****** Object:  StoredProcedure [dbo].[RegistraAlumno]    Script Date: 30/06/2025 03:36:24 p. m. ******/
DROP PROCEDURE [dbo].[RegistraAlumno]
GO
/****** Object:  StoredProcedure [dbo].[GetEscuelasProfesor]    Script Date: 30/06/2025 03:36:24 p. m. ******/
DROP PROCEDURE [dbo].[GetEscuelasProfesor]
GO
/****** Object:  StoredProcedure [dbo].[GetAlumnosInscritosXProfesor]    Script Date: 30/06/2025 03:36:24 p. m. ******/
DROP PROCEDURE [dbo].[GetAlumnosInscritosXProfesor]
GO
/****** Object:  StoredProcedure [dbo].[EliminaProfesor]    Script Date: 30/06/2025 03:36:24 p. m. ******/
DROP PROCEDURE [dbo].[EliminaProfesor]
GO
/****** Object:  StoredProcedure [dbo].[EliminaEscuela]    Script Date: 30/06/2025 03:36:24 p. m. ******/
DROP PROCEDURE [dbo].[EliminaEscuela]
GO
/****** Object:  StoredProcedure [dbo].[EliminaAlumno]    Script Date: 30/06/2025 03:36:24 p. m. ******/
DROP PROCEDURE [dbo].[EliminaAlumno]
GO
/****** Object:  StoredProcedure [dbo].[ActualizaProfesor]    Script Date: 30/06/2025 03:36:24 p. m. ******/
DROP PROCEDURE [dbo].[ActualizaProfesor]
GO
/****** Object:  StoredProcedure [dbo].[ActualizaEscuela]    Script Date: 30/06/2025 03:36:24 p. m. ******/
DROP PROCEDURE [dbo].[ActualizaEscuela]
GO
/****** Object:  StoredProcedure [dbo].[ActualiuzaAlumno]    Script Date: 30/06/2025 03:36:24 p. m. ******/
DROP PROCEDURE [dbo].[ActualiuzaAlumno]
GO
ALTER TABLE [dbo].[Profesorescuela] DROP CONSTRAINT [FK_Profesorescuela_Profesores]
GO
ALTER TABLE [dbo].[Profesorescuela] DROP CONSTRAINT [FK_Profesorescuela_Escuela]
GO
ALTER TABLE [dbo].[Alumnosescuela] DROP CONSTRAINT [FK_Alumnosescuela_Escuela]
GO
ALTER TABLE [dbo].[Alumnosescuela] DROP CONSTRAINT [FK_Alumnosescuela_Alumnos]
GO
/****** Object:  Table [dbo].[ProfesorEscuelaDto]    Script Date: 30/06/2025 03:36:24 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProfesorEscuelaDto]') AND type in (N'U'))
DROP TABLE [dbo].[ProfesorEscuelaDto]
GO
/****** Object:  Table [dbo].[Profesorescuela]    Script Date: 30/06/2025 03:36:24 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Profesorescuela]') AND type in (N'U'))
DROP TABLE [dbo].[Profesorescuela]
GO
/****** Object:  Table [dbo].[Profesores]    Script Date: 30/06/2025 03:36:24 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Profesores]') AND type in (N'U'))
DROP TABLE [dbo].[Profesores]
GO
/****** Object:  Table [dbo].[Escuela]    Script Date: 30/06/2025 03:36:24 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Escuela]') AND type in (N'U'))
DROP TABLE [dbo].[Escuela]
GO
/****** Object:  Table [dbo].[Alumnosprofesores]    Script Date: 30/06/2025 03:36:24 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Alumnosprofesores]') AND type in (N'U'))
DROP TABLE [dbo].[Alumnosprofesores]
GO
/****** Object:  Table [dbo].[Alumnosescuela]    Script Date: 30/06/2025 03:36:24 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Alumnosescuela]') AND type in (N'U'))
DROP TABLE [dbo].[Alumnosescuela]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 30/06/2025 03:36:24 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Alumnos]') AND type in (N'U'))
DROP TABLE [dbo].[Alumnos]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 30/06/2025 03:36:24 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__EFMigrationsHistory]
GO
/****** Object:  User [developer]    Script Date: 30/06/2025 03:36:24 p. m. ******/
DROP USER [developer]
GO
USE [master]
GO
/****** Object:  Database [escuelamusica]    Script Date: 30/06/2025 03:36:24 p. m. ******/
DROP DATABASE [escuelamusica]
GO
/****** Object:  Database [escuelamusica]    Script Date: 30/06/2025 03:36:24 p. m. ******/
CREATE DATABASE [escuelamusica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'escuelamusica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\escuelamusica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'escuelamusica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\escuelamusica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [escuelamusica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [escuelamusica]
GO
USE [escuelamusica]
GO
/****** Object:  User [developer]    Script Date: 30/06/2025 03:36:24 p. m. ******/
CREATE USER [developer] FOR LOGIN [developer] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 30/06/2025 03:36:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 30/06/2025 03:36:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumnos](
	[id_Alumno] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Amaterno] [varchar](50) NULL,
	[Apaterno] [varchar](50) NULL,
 CONSTRAINT [PK_Alumnos] PRIMARY KEY CLUSTERED 
(
	[id_Alumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alumnosescuela]    Script Date: 30/06/2025 03:36:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumnosescuela](
	[IdEscuela] [int] NOT NULL,
	[IdAlumno] [int] NOT NULL,
 CONSTRAINT [PK_Alumnosescuela] PRIMARY KEY CLUSTERED 
(
	[IdEscuela] ASC,
	[IdAlumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alumnosprofesores]    Script Date: 30/06/2025 03:36:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumnosprofesores](
	[idAlumno] [int] NULL,
	[IdProfesor] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Escuela]    Script Date: 30/06/2025 03:36:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Escuela](
	[idEscuela] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Descripcion] [varchar](150) NULL,
 CONSTRAINT [PK_Escuela] PRIMARY KEY CLUSTERED 
(
	[idEscuela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesores]    Script Date: 30/06/2025 03:36:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesores](
	[idProfesor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
 CONSTRAINT [PK_Profesores] PRIMARY KEY CLUSTERED 
(
	[idProfesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesorescuela]    Script Date: 30/06/2025 03:36:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesorescuela](
	[idprofesor] [int] NOT NULL,
	[idEscuela] [int] NOT NULL,
 CONSTRAINT [PK_Profesorescuela] PRIMARY KEY CLUSTERED 
(
	[idprofesor] ASC,
	[idEscuela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProfesorEscuelaDto]    Script Date: 30/06/2025 03:36:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfesorEscuelaDto](
	[Escuela] [varchar](150) NULL,
	[Profesor] [varchar](50) NULL,
	[Alumno] [varchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alumnos] ON 

INSERT [dbo].[Alumnos] ([id_Alumno], [Nombre], [Amaterno], [Apaterno]) VALUES (1, N'Ernesto', N'Martinez', N'Sarabia')
INSERT [dbo].[Alumnos] ([id_Alumno], [Nombre], [Amaterno], [Apaterno]) VALUES (2, N'Gonzalo', N'Suarez', N'Izquierdo')
INSERT [dbo].[Alumnos] ([id_Alumno], [Nombre], [Amaterno], [Apaterno]) VALUES (3, N'Maria ', N'Lopez', N'Martinez')
SET IDENTITY_INSERT [dbo].[Alumnos] OFF
GO
INSERT [dbo].[Alumnosescuela] ([IdEscuela], [IdAlumno]) VALUES (1, 1)
INSERT [dbo].[Alumnosescuela] ([IdEscuela], [IdAlumno]) VALUES (1, 2)
INSERT [dbo].[Alumnosescuela] ([IdEscuela], [IdAlumno]) VALUES (2, 3)
GO
INSERT [dbo].[Alumnosprofesores] ([idAlumno], [IdProfesor]) VALUES (1, 1)
INSERT [dbo].[Alumnosprofesores] ([idAlumno], [IdProfesor]) VALUES (2, 1)
INSERT [dbo].[Alumnosprofesores] ([idAlumno], [IdProfesor]) VALUES (3, 2)
GO
SET IDENTITY_INSERT [dbo].[Escuela] ON 

INSERT [dbo].[Escuela] ([idEscuela], [Nombre], [Descripcion]) VALUES (1, N'Conservatorio de Música de Madrid', N'Conservatorio de Música de Madrid')
INSERT [dbo].[Escuela] ([idEscuela], [Nombre], [Descripcion]) VALUES (2, N'Escuela Superior de Música Reina Sofía', N'Escuela Superior de Música Reina Sofía')
INSERT [dbo].[Escuela] ([idEscuela], [Nombre], [Descripcion]) VALUES (3, N'Academia de Música Fermatta', N'Academia de Música Fermatta')
SET IDENTITY_INSERT [dbo].[Escuela] OFF
GO
SET IDENTITY_INSERT [dbo].[Profesores] ON 

INSERT [dbo].[Profesores] ([idProfesor], [Nombre], [Apellido]) VALUES (1, N'Israel', N'Hernandez')
INSERT [dbo].[Profesores] ([idProfesor], [Nombre], [Apellido]) VALUES (2, N'Isaias', N'Rivera')
INSERT [dbo].[Profesores] ([idProfesor], [Nombre], [Apellido]) VALUES (3, N'Alejandrina', N'Alejandro')
SET IDENTITY_INSERT [dbo].[Profesores] OFF
GO
INSERT [dbo].[Profesorescuela] ([idprofesor], [idEscuela]) VALUES (1, 1)
INSERT [dbo].[Profesorescuela] ([idprofesor], [idEscuela]) VALUES (2, 1)
INSERT [dbo].[Profesorescuela] ([idprofesor], [idEscuela]) VALUES (3, 2)
GO
ALTER TABLE [dbo].[Alumnosescuela]  WITH CHECK ADD  CONSTRAINT [FK_Alumnosescuela_Alumnos] FOREIGN KEY([IdAlumno])
REFERENCES [dbo].[Alumnos] ([id_Alumno])
GO
ALTER TABLE [dbo].[Alumnosescuela] CHECK CONSTRAINT [FK_Alumnosescuela_Alumnos]
GO
ALTER TABLE [dbo].[Alumnosescuela]  WITH CHECK ADD  CONSTRAINT [FK_Alumnosescuela_Escuela] FOREIGN KEY([IdEscuela])
REFERENCES [dbo].[Escuela] ([idEscuela])
GO
ALTER TABLE [dbo].[Alumnosescuela] CHECK CONSTRAINT [FK_Alumnosescuela_Escuela]
GO
ALTER TABLE [dbo].[Profesorescuela]  WITH CHECK ADD  CONSTRAINT [FK_Profesorescuela_Escuela] FOREIGN KEY([idEscuela])
REFERENCES [dbo].[Escuela] ([idEscuela])
GO
ALTER TABLE [dbo].[Profesorescuela] CHECK CONSTRAINT [FK_Profesorescuela_Escuela]
GO
ALTER TABLE [dbo].[Profesorescuela]  WITH CHECK ADD  CONSTRAINT [FK_Profesorescuela_Profesores] FOREIGN KEY([idprofesor])
REFERENCES [dbo].[Profesores] ([idProfesor])
GO
ALTER TABLE [dbo].[Profesorescuela] CHECK CONSTRAINT [FK_Profesorescuela_Profesores]
GO
/****** Object:  StoredProcedure [dbo].[ActualiuzaAlumno]    Script Date: 30/06/2025 03:36:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[ActualiuzaAlumno](
	 @idAlumno int,
	 @Nombre varchar(50),
	  @Apaterno varchar(50),
     @Amaterno varchar(50)
	) as
	Begin
		update [dbo].[Alumnos]
				 set Nombre = @Nombre,
					Apaterno = @Apaterno,
					Amaterno = @Amaterno
		where id_Alumno = @idAlumno
	End;
GO
/****** Object:  StoredProcedure [dbo].[ActualizaEscuela]    Script Date: 30/06/2025 03:36:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[ActualizaEscuela](
	@idEscuela int,
	 @Nombre varchar(100),
     @Descripcion varchar(50)
	) as
	Begin
		update [dbo].[Escuela]
		set Nombre = @Nombre,
		Descripcion = @Descripcion
		WHERE idEscuela = @idEscuela
	End
GO
/****** Object:  StoredProcedure [dbo].[ActualizaProfesor]    Script Date: 30/06/2025 03:36:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[ActualizaProfesor](
@idProfesor int,
	 @Nombre varchar(50),
     @Apellido varchar(50)
	) as
	Begin
 
	UPDATE [dbo].[Profesores]
	   set Nombre = @Nombre,
	   Apellido = @Apellido
	WHERE idProfesor = @idProfesor
end
GO
/****** Object:  StoredProcedure [dbo].[EliminaAlumno]    Script Date: 30/06/2025 03:36:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[EliminaAlumno](
	 @idAlumno int
	) as
	Begin
		 delete from  [dbo].[Alumnos] where id_Alumno = @idAlumno;
	End;
GO
/****** Object:  StoredProcedure [dbo].[EliminaEscuela]    Script Date: 30/06/2025 03:36:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[EliminaEscuela](
	 @idEscuela int
	) as
	Begin
		 delete from  [dbo].[Escuela]  where idEscuela = @idEscuela;
	End;
GO
/****** Object:  StoredProcedure [dbo].[EliminaProfesor]    Script Date: 30/06/2025 03:36:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[EliminaProfesor](
	 @idProfesor int
	) as
	Begin
		 delete from [dbo].[Profesores]  where idProfesor = @idProfesor;
	End;
GO
/****** Object:  StoredProcedure [dbo].[GetAlumnosInscritosXProfesor]    Script Date: 30/06/2025 03:36:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAlumnosInscritosXProfesor](
	@IdProfesor int    
	) as
	Begin
 
select Profesor =  P.Nombre + ' '+ p.Apellido, Alumno=  a.Nombre + ' ' + A.Amaterno, Escuela = E.Nombre from Alumnos A
	inner join Alumnosprofesores AP on A.id_Alumno = AP.idAlumno
	inner join Alumnosescuela AE on AE.IdAlumno = A.id_Alumno
	inner join Profesores P on P.idProfesor = AP.IdProfesor
	inner join Escuela E on E.idEscuela = AE.IdEscuela
	where p.idProfesor = @idProfesor
	 
 end
GO
/****** Object:  StoredProcedure [dbo].[GetEscuelasProfesor]    Script Date: 30/06/2025 03:36:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEscuelasProfesor](
	@IdProfesor int    
	) as
	Begin
 
	 select Escuela= E.Nombre, Profesor = p.Nombre, pe.idprofesor,Alumno = Al.Nombre  from dbo.Profesorescuela PE
		inner Join Escuela E on E.idEscuela = PE.idEscuela 
		inner join Profesores P on P.idProfesor = PE.idprofesor 
		inner join Alumnosprofesores A on A.IdProfesor = Pe.idprofesor 
		inner join Alumnos AL on AL.id_Alumno = A.idAlumno
	where P.idProfesor = @IdProfesor
	order by E.idEscuela

	 
 end
GO
/****** Object:  StoredProcedure [dbo].[RegistraAlumno]    Script Date: 30/06/2025 03:36:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistraAlumno](
	 @Nombre varchar(50),
	  @Apaterno varchar(50),
     @Amaterno varchar(50)
	) as
	Begin
		INSERT INTO [dbo].[Alumnos]
				   ([Nombre]
				   ,[Amaterno]
				   ,[Apaterno])
			 VALUES
				   (@Nombre
				   ,@Amaterno
				   ,@Apaterno);

	Select * from dbo.Alumnos where id_Alumno =SCOPE_IDENTITY();
	End;
GO
/****** Object:  StoredProcedure [dbo].[RegistraAlumnosEscuela]    Script Date: 30/06/2025 03:36:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistraAlumnosEscuela](
	 @IdEscuela int,
     @IdAlumno int
	) as
	Begin
 
 if	 exists(select * from Alumnosescuela where IdAlumno = @IdAlumno and IdEscuela = @IdEscuela)  
 RETURN
 else 
		INSERT INTO [dbo].[Alumnosescuela]
			   ([IdEscuela]
			   ,[IdAlumno])
		 VALUES
			   (@IdEscuela
			   ,@IdAlumno)

 end
GO
/****** Object:  StoredProcedure [dbo].[RegistraAlumnosprofesores]    Script Date: 30/06/2025 03:36:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistraAlumnosprofesores](
	 @IdAlumno int,
	@IdProfesor int    
	) as
	Begin
 
 if	 exists(select * from [Alumnosprofesores] where IdAlumno = @IdAlumno and IdProfesor = @IdProfesor)  
 RETURN
 else 
	INSERT INTO [dbo].[Alumnosprofesores]
			   ([idAlumno]
			   ,[IdProfesor])
		 VALUES
			   (@IdAlumno
			   ,@IdProfesor)
 
 end
GO
/****** Object:  StoredProcedure [dbo].[RegistraEscuela]    Script Date: 30/06/2025 03:36:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistraEscuela](
	 @Nombre varchar(100),
     @Descripcion varchar(50)
	) as
	Begin
 

		INSERT INTO [dbo].[Escuela]
				   ([Nombre]
				   ,[Descripcion])
			 VALUES
				   (@Nombre
				   ,@Descripcion)
	End
GO
/****** Object:  StoredProcedure [dbo].[RegistraProfesor]    Script Date: 30/06/2025 03:36:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistraProfesor](
	 @Nombre varchar(50),
     @Apellido varchar(50)
	) as
	Begin
 
INSERT INTO [dbo].[Profesores]
           ([Nombre]
           ,[Apellido])
     VALUES
           (@Nombre
           ,@Apellido)
 end
GO
/****** Object:  StoredProcedure [dbo].[RegistraprofesoresEscuela]    Script Date: 30/06/2025 03:36:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistraprofesoresEscuela](
	 @idEscuela int,
	@IdProfesor int    
	) as
	Begin
 
 if	 exists(select * from [Profesorescuela] where Idprofesor = @IdProfesor and idEscuela = @idEscuela)  
 RETURN
 else 
 
INSERT INTO [dbo].[Profesorescuela]
           ([idprofesor]
           ,[idEscuela])
     VALUES
           (@IdProfesor
           ,@idEscuela)
 end
GO
USE [master]
GO
