@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container border">

   <div class="row">
        <div class="col text-start p-4"> <strong class="text-info fs-3">Alumnos</strong></div>
        <div class="col text-end p-4">
            <a class="btn  btn-primary"><i class="fa-solid fa-user-plus my-1 m-2"></i>Registrar Alumno</a>
        </div>

    </div>
    <div class="row">
        <hr />

    </div>

</div>